apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kaito.deploymentName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kaito.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "kaito.selectorLabels" . | nindent 6 }}
  strategy:
    {{- toYaml .Values.deploymentStrategy | nindent 4 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- include "utils.toYamlStrMap" . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "kaito.selectorLabels" . | nindent 8 }}
        {{- with .Values.podTemplateLabels }}
        {{- include "utils.toYamlStrMap" . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kaito.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --feature-gates={{ include "utils.joinKeyValuePairs" .Values.featureGates }}
          env:
            - name: CONFIG_LOGGING_NAME
              value: {{ include "kaito.loggingConfigMapName" . | quote }}
            - name: WEBHOOK_SERVICE
              value: {{ include "kaito.serviceName" . | quote }}
            - name: WEBHOOK_PORT
              value: "{{ .Values.webhook.port }}"
            - name: SYSTEM_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: PRESET_REGISTRY_NAME
              value: {{ .Values.presetRegistryName | quote }}
            - name: CLOUD_PROVIDER
              value: {{ .Values.cloudProviderName | quote }}
            - name: CLUSTER_NAME
              value: {{ .Values.clusterName | quote }}
          ports:
            - name: http-metrics
              containerPort: 8080
              protocol: TCP
            - name: https-webhook
              containerPort: {{ .Values.webhook.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      priorityClassName: system-cluster-critical
